html, body {
        margin: 0;
        padding: 0;
        height: 100%; /* Important so child % heights work */
      }
      .map {
        width: 100%;
        height: 100%;
      }

.draw-toolbar {
  position: absolute;
  top: 80px;
  left: 15px;
  z-index: 1000;
  display: flex;           
  align-items: center;    

}

.draw-options {
  display: flex;
  flex-direction: row;     
  gap: 6px;
  margin-left: 8px;        
}

.draw-option {
  padding: 6px 12px;
  background: #414548;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

.measure-toolbar {
  position: absolute;
  top: 120px;      /* position below draw-toolbar */
  left: 15px;
  z-index: 1000;
}
.measure-toolbar button {
  padding: 6px 12px;
  background: #414548;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.draw-toolbar button,
.measure-toolbar button {
  background: #414548;
  color: #fff;
  border: none;
  border-radius: 8px;      /* Slightly more round for consistency */
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;         /* Large icon */
  box-shadow: 0px 2px 8px rgba(0,0,0,0.08); /* Optional subtle shadow */
  transition: background 0.2s;
}
